- content_for :header do
  %a{:href => app_root} top
  %h1= @title

%h2 JavaScriptベースの実世界GUIフレームワーク
%div
  GoldFishは実世界GUIを実装するための環境です。
  AndroidをNFCタグに触れると、JavaScriptで実装されたAndroidアプリが起動します。

%h2 実世界GUIアプリを作ろう
%a{:href => "#{app_root}/start"} チュートリアル

%h2 ソースコード
%div
  GoldFishのソースコードは
  %a{:href => 'https://github.com/shokai/goldfish'} github
  にて公開されています。

%h2 開発者
%ul
  %li
    %a{:href => 'http://shokai.org'} 橋本翔
  %li
    %a{:href => 'http://pitecan.com'} 増井俊之
  %li
    慶應義塾大学 増井研究室