- content_for :header do
  %a{:href => app_root} top
  %h1 GoldFishをはじめる
  %div
    GoldFishでアプリケーションを開発する手順を説明します


%h2 チュートリアル
%ol
  %li
    %a{:href => "#{app_root}/tutorial/install"} インストール
  %li
    %a{:href => "#{app_root}/tutorial/clock"} 簡単なアプリを作って、Androidで動かしてみよう
  -# %li
  -#  %a{:href => "#{app_root}/tutorial/sensor"} Androidの内蔵センサーを使ったアプリを作る

%h2 Wiki
%a{:href => 'http://gyazz.com/goldfish/開発の手順'} GoldFish wiki
